body{
    background-color: #1f1f21;
}

#upImage{
    position: absolute;
    height: 125px;
    right: 45.5%;
    top: 0%;
}

#soon{
    color:whitesmoke;
    font-family: 'Montserrat' ;
    position: absolute;
    font-size: 1500%;
    left: 18%;
}

#shi{
    position: absolute;
    top: 17%;
    left: 30%;
}